[submodule "user-ecom"]
	path = user-ecom
	url = https://github.com/0kasama/user-ecom
[submodule "server-ecom"]
	path = server-ecom
	url = https://github.com/0kasama/server-ecom
[submodule "cms-ecom"]
	path = cms-ecom
	url = https://github.com/0kasama/cms-ecom
